# ignore files that made by python when it runs
__pycache__/ 
*.pyc

# virtual environment file
.venv/
venv/

# SQLite DB. Those who download this program should run the following code to make new table to run this program:
# poetry run python manage.py migrate
db.sqlite3

# folder for image or video
media/



# password storage 
.env
.env.*
!.env.example

# React
node_modules/
build/
dist/



# OS file
.DS_Store
Thumbs.db

*.log


# Frontend
frontEnd/node_modules/
frontEnd/dist/

# Environment variables
.env

# Python
__pycache__/
*.pyc